@import url('project://database/Packages/com.misteeps.simplex/Editor/UI/Styles/Simplex Inspector Base.uss?fileID=7433441132597879392&guid=d8910e7dc84289e40b86590cd2e5e17c&type=3#Simplex Inspector Base');